.reveal {
    font-size: 38px !important;
}

.reveal code {
    font-size: 1em !important;
    line-height: 1.1em !important;
}

footer {
    text-align: right !important;
    margin-top: 1rem !important;
    font-size: 1rem !important;
}

.reveal section img {
    border: none !important;
}

ul.nobullet { list-style-type: none !important; }

/* Make sure references do not overflow */
#refs {
    height: 600px;
    overflow-y: auto !important;
    font-size: 1rem !important;
    text-align: left;
}

/* RMARKDOWN STYLING */

.reveal h1 { font-size: 2.0em; }
.reveal h2 { font-size: 1.5em;  }
.reveal h3 { font-size: 1.25em;	}
.reveal h4 { font-size: 1em;	}

.reveal .slides>section,
.reveal .slides>section>section {
    padding: 0px 0px;
}

.reveal table {
    border-width: 1px;
    border-spacing: 2px;
    border-style: dotted;
    border-color: gray;
    border-collapse: collapse;
    font-size: 0.7em;
}

.reveal table th {
    border-width: 1px;
    padding-left: 10px;
    padding-right: 25px;
    font-weight: bold;
    border-style: dotted;
    border-color: gray;
}

.reveal table td {
    border-width: 1px;
    padding-left: 10px;
    padding-right: 25px;
    border-style: dotted;
    border-color: gray;
}
